/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: #f0efef;
}
a {
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 90%;
  margin: 0 auto;
}

/******************************************
/* GENERAL
/*******************************************/

header nav {
  float: right;
  font-size: 1rem;
  margin-top: 15px;
}

header .logo {
  float: left;
}

.logo {
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
}

.cta {
  border-radius: 5px;
  font-weight: 800;
  padding: .8em 0;
  width: 100%;
  font-size: 1.1rem;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.cta-yellow {
  background: #f9e42e;
  color: #033048;
}

.cta-blue {
  background: #033048;
  color: #fff;
  font-size: 1rem;
}

.sign-up {
  background: #f9e42e;
  padding: 1.5em;
  text-align: center
}

footer {
  background: #121212;
  padding: 2.2em 0 1.8em;
  text-align: center;
}

footer .logo {
  color: #f9e42e;
  margin-bottom: 1.3em;
}

footer ul li {
  display: inline-block;
  list-style: none;
  margin: 0 .8em 2.8em;
}

footer p {
  font-size: .7rem;
  color: #fff;
  font-weight: 600;
}

/******************************************
/* BLOG PAGE
/*******************************************/

.main-header {
  background: #033048;
  padding: 1.1em 0;
  overflow: hidden;
  margin-bottom: 3em;
}

.main-header nav ul li {
  display: inline-block;
  margin: 0 0 0 1.6em;
  font-size: 1rem;
}

.main-header nav ul li a {
  color: #f9e42e;
}

.blog-main {
  width: 70%;
  float: left;
}

.sidebar {
  float: right;
  width: 30%;
}

.sidebar section {
  padding-left: .8em;
}

.post {
  border-bottom: 1px solid #043049;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
}

.post h2 {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.3;
  margin-bottom: .7em;
}

.post h2 a {
  color: #043049;
}

.post img {
  margin-bottom: 1em;
}

.post p {
  font-size: 1rem;
  line-height: 1.333;
  color: #606161;
}

.post p:first-of-type:first-letter {
  float: left;
  font-size: 3.6rem;
  line-height: 1;
  padding-top: .1em;
  padding-right: .1em;
  padding-left: .1em;
  font-weight: 600;
}

.readmore {
  text-align: right;
  margin-top: 1.3em;
}

.readmore a {
  color: #043049;
  font-weight: 600;
}

.sidebar h3 {
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: .6em;
  color: #043049;
}

.sidebar ul {
  margin-bottom: 1.4em;
}

.sidebar ul li a {
  color: #043049;
  font-size: 1rem;
}

.sidebar p {
  font-size: .9rem;
  line-height: 1.1;
  margin-bottom: 1.5em;
}

.sidebar p a {
  color: #043049;
  font-weight: 600;
}

/******************************************
/* LANDING PAGE
/*******************************************/

.landing-header a {
  color: #FFF;
}

.intro {
  background: url("../images/header_bg.jpg") no-repeat top center #131e27;
  background-size: cover;
  padding: .8em 0 7.6em;
}

.intro h2 {
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
  margin: 2.8em 0 2.1em;
  font-weight: 600;
}

.benefits {
  padding: 3.8em 0 3.2em;
}

h3 {
  color: #033048;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.1em;
}

.benefits p {
  width: 100%;
}

.benefits ul {
  list-style: disc;
  margin: 1.2em 0 0 3.2em;
  widows: 40%;
}

.testimonial {
  background: url("../images/testimonial_bg.jpg") no-repeat top center #071324;
  background-size: cover;
  padding: 2.7em 0;
  color: #fff;
}

blockquote {
  font-size: 1.3rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

blockquote span {
  padding-top: .6em;
  font-weight: 600;
  display: block;
  font-style: normal;
}

/******************************************
  MOBILE STYLES
/*******************************************/

/************
EQUAL TO OR GREATER THAN 480PX 
************/
@media (min-width: 480px) {

  /*
  GENERAL
  */
  
  html {
    font-size: 18px;
  }

  .cta {
    padding: .4em 0;
    width: 280px;
  }

}

/************ 
EQUAL TO OR GREATER THAN 768PX 
************/
@media (min-width: 768px) {

  /*
  GENERAL
  */
  
  html {
    font-size: 22px;
  }

  /*
  LANDING PAGE
  */

  .benefits p, .benefits ul {
    width: 75%;
  }

  blockquote {
    width: 55%;
  }

}

/************
EQUAL TO OR GREATER THAN 1024PX 
************/
@media (min-width: 1024px) {

  /*
  GENERAL
  */
  
  html {
    font-size: 26px;
  }

  .benefits p, .benefits ul {
    width: 60%;
  }

}


















